{% extends 'base.html' %}
{% block content %}
<img src="../static/img/banner-incognito-bird.png" alt="" class="w-full object-fit-cover mb-6">
<div class="container mx-auto mb-20">
    <h2 class="font-bold mb-4">Willkommen bei der Dawn Chorus Vogelstimmenanalyse.</h2>

    <p class="mb-4">Sie haben sich bei uns gemeldet, da Sie sich mit der akustischen 
    Erkennung heimischer Vogelarten auskennen. <span class="font-bold">Vielen Dank dafür!</span></p>

    <p class="mb-4">Gemeinsam mit Ihnen möchten wir einigen der gesammelten Dawn 
    Chorus-Tonaufnahmen die akustisch vorkommenden <span class="font-bold">Vogelarten 
        “entlocken”</span>. So können mit Ihrer Hilfe die Aufnahmen in statistisch 
    auswertbare Datenpunkte zum Vorkommen von Vogelarten umgewandelt 
    werden. Diese Daten sind auch für die Anpassung automatischer 
    Analysemethoden für Dawn Chorus unabdingbar. Weitere Informationen 
    zum Hintergrund finden Sie hier.</p>

    <p class="mb-4"> Um Ihnen den Analysevorgang effizient und angenehm zu gestalten, wird 
    aktuell ein sogenanntes <span class="font-bold">Annotations-Tool</span> entwickelt, von Kolleg*innen 
    an der CODE University of Applied Sciences Berlin. Es läuft im Browser und
    benötigt weder Download noch Installation von Programmen.</p>

    <p class="mb-4">Bitte beachten Sie, dass es sich dabei momentan um eine BETA-Version 
    handelt, die möglicherweise noch nicht alle gewünschten Funktionalitäten 
    bereithält und ggf. auch die eine oder andere Schwachstelle enthält. Wir 
    freuen uns daher über Feedback.</p>

    <p class="mb-4">Eine ausführliche Anleitung des Tools finden Sie hier.</p>

    <p class="mb-4">Sollten Sie Fragen haben, zögern Sie nicht, sich bei uns zu melden (<a href = "mailto:info@dawn-chorus.org?subject = Feedback&body = Message" class="underline text-blue-500">info@dawn-chorus.org</a>).</p>
        
    <p class="font-bold">Und nun wünschen wir viel Vergnügen beim Lauschen!</p>
</div>
{% endblock %}