{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Populate DB{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="w-full max-w-xs container mx-auto mt-20">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="country">
          Country
        </label>
        <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="country" id="country" type="text" placeholder="" required>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Populate
        </button>
      </div>
    </form>
  </div>
{% endblock %}